@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fdfcfe;
    font-family: 'Public Sans';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-display: swap;
}